<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        {% for post in posts%}
            <article>
                <time>published: 11.24.2024, 10:10</time>
                <h2><a href="">My first post</a></h2>
                <p>Oh man, it's my first post! Holy cow. Totally awesome. This is so amazing. Alakazam! You're reading my first post!!</p>
            </article>

            <article>
                <time>published: 14.06.2014, 12:14</time>
                <h2><a href="">My second post</a></h2>
                <p>Just when you thought I was done... NOPE! Here you have my SECOND post! Oh yeah, feel lucky that you get to witness the greatness that is.... my second post!</p>
            </article>
        {% endfor%}
    </body>
</html>